#beers-dropdown, #logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#beer_image {
  height: 100px;
  margin-bottom: 10px;
}

#beer-info {
  display: block;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: lightgray;
  font-family: Arial;
}

ul {
  list-style: none;
}

#logo-bar {
  background: #00afdb;
}
